{# src/CvBundle/Resources/views/Page/delete.html.twig #}

{% extends 'CvBundle::layout.html.twig' %}

{% block title %}
  Supprimer une annonce - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Supprimer un cv</h2>

  <p>
    Etes-vous certain de vouloir supprimer l'annonce "{{ resume.nom }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('cv_delete', {'id': resume.id}) }}" method="post">
    <a href="{{ path('cv_show', {'id': resume.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}
